---
- name: Create working directory if it does not exist
  file:
    path: "{{ work_dir }}/ssh_key"
    state: directory
    mode: '0755'
  tags: ['generate_ssh']

- name: Generate an OpenSSH keypair with a different algorithm (ed25519)
  community.crypto.openssh_keypair:
    path: "{{ work_dir }}/ssh_key/{{ random_cluster_name | default(cluster_name) }}"
    type: ed25519
  tags: ['generate_ssh']

- name: Read SSH generate
  slurp:
    src: "{{ work_dir }}/ssh_key/{{ random_cluster_name | default(cluster_name) }}.pub"
  register: slurped_user_data_sshkey
  tags: ['generate_ssh']

- name: Decode data and store as fact 
  set_fact:
    ssh_key: "{{ slurped_user_data_sshkey.content | b64decode }}"
  when: 
    - slurped_user_data_sshkey is defined
  tags: ['generate_ssh']

- name: Debug SSH key
  ansible.builtin.debug:
    msg: "{{ ssh_key }}"
    verbosity: 0
  tags: ['generate_ssh']
