
- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: "{{ work_dir }}"
    state: directory
    mode: '0755'

- name: Download openshift clients
  ansible.builtin.unarchive:
    src: "{{ openshift_clients_url }}/{{ item }}"
    dest: "{{ work_dir }}"
    remote_src: yes
#  environment: "{{ proxy_env }}"
  loop:
    - "{{ client_linux }}"
    - "{{ install_linux }}"

- name: Download ISO COREOS
  ansible.builtin.get_url:
    url: "{{ iso_coreos }}"
    dest: "{{ work_dir }}"
